
h1{
    text-align: center;
    color: white;
}
#Numero1{
    color: white;
    border-radius: 7px;
    margin-top: 35px;
    background-color: rgb(83, 82, 82);
    width: 135px;
    margin-bottom: 15px;
    height: 20px;
}
#Resultado{
    border-radius: 7px;
    margin-top: 20px;
    color: white;
    width: 135px;
    margin-bottom: 15px;
    height: 20px;
}
#Numero2{
    color: white;
    border-radius: 7px;
    background-color: rgb(83, 82, 82);
    width: 135px;
    margin-bottom: 15px;
    height: 20px;
}
main{
    margin: auto;
}
body {
   font-family: Arial, Helvetica, sans-serif;
   background-image: linear-gradient(to left, rgb(66, 66, 66 ),  rgb(82, 81, 81), rgb(167, 163, 163), rgb(202, 199, 199));
}
#container{
    background-color: black;
    color: white;
    text-align: center;
    width: 250px;
    height: 380px;
    border-radius: 15px;
    margin: auto;
}
#somar{
    background-color: rgb(83, 82, 82);
    color: white;
    border-radius: 5px;
    width: 65px;
    height: 50px;
    margin-left: -1px;
}
#subtrair{
    background-color: rgb(83, 82, 82);
    color: white;
    border-radius: 5px;
    width: 65px;
    height: 50px;
    margin-left: -146px;
}

#multiplicar{
    background-color: rgb(83, 82, 82);
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    width: 65px;
    height: 50px;
    margin-left: -1px;
}
#dividir{
    background-color: rgb(83, 82, 82);
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    width: 65px;
    height: 50px;
    margin-left: -146px;
}
#limpar{
    background-color: rgb(83, 82, 82);
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    width: 65px;
    height: 50px;
    margin-left: -1px;
}
#resultado{
    background-color: rgb(83, 82, 82);
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    width: 65px;
    height: 50px;
    margin-left: -146px;
}

p{ 
    color: white;
    padding-top: 20px;
    text-align: center;
}
a {
    text-decoration: none;
    color: white;
    
  
    

}

a:hover {
    display: inline;
   
    color: black;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-radius: 10px;
    text-justify: auto;
    position: static;
   
   
    

}